
.light{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.traffic-light{
    width: 180px;
    padding: 10px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.traffic-top{
    height: 100px;
    width: 30px;
    margin: auto;
    display: flex;
    justify-content: center;

}
.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.brillo{
    box-shadow: 0px 0px 10px 8px whitesmoke;
}